@import '~bulma/bulma.sass';
@import 'react-responsive-carousel/lib/styles/carousel.min.css'; // requires a loader


* {
  font-family: 'Odibee Sans', cursive;
  font-size  : 30px;
  color      : black;

}

.legend {
  display: none;
}

.image-height {
  max-height: 100vw;
}

.navvy { 

  .navbar-center { 
    display: flex;
    justify-content: center;
    margin-left: auto;
  }
}