@import "~bulma/bulma.sass";
@import "react-responsive-carousel/lib/styles/carousel.min.css"; // requires a loader

* {
  font-family: "Saira Condensed", sans-serif;
  font-size: 30px;
  color: black;

  .content-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .content .content-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  #overlay-content {
    opacity: 1;
    background: none;
  }
}

.legend {
  display: none;
}

.image-height {
  max-height: 100vw;
}

.navvy {
  font-weight: 900;
  .navbar-center {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }

  .navvvy-item {
    max-height: 6.75rem;
  }

  .image-buttons {
    max-height: 3.75rem;
  }
}

.homepage {
  #overlay-content {
    display: flex;
    
  }
  .flex-hero{ 
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }
  #overlay-content-hero { 
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
  }
  #font-header {
    color: white;
    font-size: -webkit-xxx-large;
    font-family: "Saira Condensed", sans-serif;
  }

  #modal-homepage {
    font-size: 23px;
  }

  .hero-p {
    max-width: 520px;
    font-weight: bolder;
    color: #fafafa;
    margin-left: 50px;
    font-size: 60px;
  }

  #hero-button {
    color: black;
    max-width: 240px;
    font-size: 22px;
  }
  .fade-text{ 
    max-width: 650px;
    height: 470px;
  }
  .fade-header{ 
    font-weight: 900;
    font-size: 50px;
  }
  .fade-p { 
    font-size:23px;
  }
  .fade-div { 
    display: flex;
    justify-content: space-around;
  }
  .image-overlay {
    height:60vh;
    width:100vw;
  }
  #overlay-center { 
    color: red;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
  }
  .bottom-p { 
    max-width:619px;
    font-weight: bolder;
    color: #fafafa;
    margin-left: 40px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .homepage {
    #overlay-content-hero {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    .fade-div{ 
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}


